body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(348, 83%, 95%);
}

  button {
    font-size: 20px;
    border-width: 2px;
    border-radius: 6px;
}
body.dark button {
    color: hsl(348, 20%, 15%);
    border-color: hsl(348, 20%, 15%);
    background-color: hsl(348, 83%, 95%);
}
body.light button {
    color: hsl(348, 83%, 95%);
    border-color: hsl(348, 83%, 95%);
    background-color: hsl(348, 20%, 15%);
}
  body.dark {
    color: hsl(348, 83%, 95%);
    border-color: hsl(348, 83%, 95%);
    background-color: hsl(348, 20%, 15%);
}
body.light {
    color: hsl(348, 20%, 15%);
    border-color: hsl(348, 20%, 15%);
    background-color: hsl(348, 83%, 95%);
}
